:root {
  display: contents;
}

.app-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
