<h2 mat-dialog-title>
  @if (editMode()) {
    Editar la asignación del proveedor
  } @else {
    Asignar un proveedor al producto
  }
</h2>

@if (loadError(); as loadErrorMessage) {
  <app-error-banner [message]="loadErrorMessage" />
}

@if (generalError(); as errorMessage) {
  <app-error-banner [message]="errorMessage" />
}

<app-product-supplier-form
  [formGroup]="assignmentForm()"
  [serverErrors]="serverErrors()"
  [editMode]="editMode()"
  [availableSuppliers]="availableSuppliers()"
  [searching]="searching()"
  (saveSupplier)="onSaveAssignment($event)"
  (cancelForm)="cancel()"
  (supplierSearch)="onSupplierSearch($event)"
/>
